body {
    /* background-image: url(../img/home/IMG_3403.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    opacity: 0;
    transition: .72s;
}

.fade-in {
    opacity: 1;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
}

header h1 {
    font-size: 2.75rem;
}

header h4 {
    font-size: 1.5rem;
}