.desktop-nav {
    display: none;
    max-width: 400px;
}

.desktop-nav>ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
}

.desktop-nav>ul>li {
    margin-left: .8rem;
    margin-right: .8rem;
    text-align: center;
    /* width: 130px; */
}


/* Link Buttons */

.link-btn {
    text-decoration: none;
    color: white;
    padding: .6rem .8rem;
    text-transform: uppercase;
    /* font-weight: 600; */
    transition: 0.42s;
    width: max-content;
    outline: 0.5px solid rgba(255, 255, 255, 0);
}

.link-btn:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
    outline: 0.5px solid rgba(255, 255, 255, 1);
}

.selected-page {
    background-color: white;
    padding: .6rem .8rem;
    color: rgb(216, 177, 177) !important;
}

.mobile-header {
    display: block;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 767px) {
    .desktop-nav {
        display: flex;
    }
    .mobile-header {
        display: none;
    }
}


/* Mobile Nav Related */

.menu-toggle {
    border-radius: 50%;
    position: fixed;
    right: 15px;
    top: 25px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    color: #fff;
    /* background: rgba(52, 58, 64, 0.5); */
    line-height: 50px;
    z-index: 999;
}

.menu-toggle:focus,
.menu-toggle:hover {
    color: #fff;
    color: rgb(216, 177, 177);
}

.menu-toggle:hover {
    background: #fff;
    cursor: pointer !important;
}


/* Active */

.active {
    background: rgb(216, 177, 177);
    color: #fff !important;
}

.active:hover {
    background: white !important;
    color: rgb(216, 177, 177) !important;
}

#sidebar-wrapper {
    position: fixed;
    z-index: 80;
    top: 0;
    right: -250px;
    height: 100vh;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, .1);
    width: 250px;
    font-size: 1.2rem;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper.active {
    right: 0;
    width: 200px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    list-style: none;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.sidebar-nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    /* font-weight: 600; */
    /* font-size: 1.8rem; */
}

.sidebar-nav a:hover {
    color: black;
}

.sidebar-nav li {
    margin-top: .6rem;
    margin-bottom: .6rem;
}

.sidebar-brand {
    /* font-family: 'Merriweather', serif; */
    text-transform: uppercase;
    font-size: 1.2rem !important;
}

@media (min-width: 767px) {
    .menu-toggle {
        display: none;
    }
}